
./real_data/
./ver-python/utilities/per_dec2d.py
./ver-python/utilities/per_dec3d.py
./ver-python/utilities/test_per_dec.py

./reduction-algorithm/binary/thesis_data/
./real-data/
*workspace*
*binary*
drafts-matlab/kunyansky-tests/
drafts-matlab/
radon-inversion/weighted/kunyansky-iterative/weight-correction
./ver-python/utilities/exterior

*.zip
*.pdf
*.csv
*.zip
*.log
*.bin
*.d
*.png
*.jpeg
*.jpg
*.m
*.pyc
*.gif
*~
*.o
*.spr
*.sdt
*monkey*
*.tar
*.zip
*.tex
*.log
*.txt
*.dat
