./drafts-pictures/old-gif/reduction_linear_interp.zip
./drafts-pictures/old-gif/reduction_qaudr_interp.gif
./drafts-pictures/old-gif/reduction_quadr_interp.zip
./drafts-pictures/old-gif/shepp_logan_reduction129.zip
./drafts-pictures/monkey-gif/monkey_comparison.tar.gz
./drafts-pictures/monkey-gif/monkey_reconstruction.tar.gz
./drafts-pictures/monkey-gif/monkey_2d_reconstruction.tar.gz
./drafts-pictures/monkey-gif/monkey_2d_reconstruciton.gif
./drafts-pictures/monkey-gif/monkey_3d_reconstruction.gif
./drafts-pictures/monkey-gif/monkey_comparison.gif
./drafts-matlab/octave-workspace
./drafts-matlab/kunyansky/comparison2d3d
./drafts-matlab/kunyansky/comparison_2d3d
./drafts-matlab/kunyansky/test_iterative_order2
./real-data/monkey/map/map.sdt
./real-data/monkey/monkey.tar
./real-data/cylinder/cylinder.tar
./real-data/cylinder/emis/emiss.csv
./real-data/cylinder/map/map.csv
./real-data/cylinder/map/map.sdt
./umot/svd_test/bin/umot_matrix_output_cosine.csv
./umot/svd_test/bin/radon_matrix_output.csv
./ray_sampling/classical/ray_grid/examples-test-functions/test_func_shepp_logan.csv
./ray_sampling/classical/ray_grid/binary/ray_shlg129.csv
./ray_sampling/classical/ray_grid/binary/ray3d129_shepp_logan.csv
./ray_sampling/classical/ray_grid/binary/shlg129.csv
./ray_sampling/classical/ray_grid/binary/shepp_logan16_ray.csv
./ray_sampling/classical/ray_analytic/binary/ray3d_data.csv
./ray_sampling/weighted/wray_grid/spect/binary/rayspect_shlg129.csv
./ray_sampling/weighted/wray_grid/spect/binary/thesis_ray_data/ph1_att_strong.csv
./ray_sampling/weighted/wray_grid/spect/binary/thesis_ray_data/ph1_att_weak.csv
./ray_sampling/weighted/wray_grid/spect/binary/thesis_ray_data/noise/ph2_att_weak_nstrong.csv
./ray_sampling/weighted/wray_grid/spect/binary/thesis_ray_data/noise/ph2_att_strong_nstrong.csv
./ray_sampling/weighted/wray_grid/spect/binary/thesis_ray_data/noise/ph2_att_strong_nweak.csv
./ray_sampling/weighted/wray_grid/spect/binary/thesis_ray_data/noise/ph2_att_weak_nweak.csv
./ray_sampling/weighted/wray_grid/spect/binary/thesis_ray_data/ph2_att_weak.csv
./ray_sampling/weighted/wray_grid/spect/binary/thesis_ray_data/ph2_att_strong.csv
./ray_sampling/weighted/wray_grid/spect/attenuation-maps/att_shlg129_weak.csv
./ray_sampling/weighted/wray_grid/spect/attenuation-maps/sh_lg129.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/thesis_expansion_data/d4_i_wexp_shlg129_strong.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/thesis_expansion_data/d2_r_wexp_shlg129_weak.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/thesis_expansion_data/d3_i_wexp_shlg129_weak.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/thesis_expansion_data/d0_i_wexp_shlg129_strong.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/thesis_expansion_data/monkey/d3_r_monkey_att.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/thesis_expansion_data/monkey/d4_i_monkey_att.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/thesis_expansion_data/monkey/d1_i_monkey_att.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/thesis_expansion_data/monkey/d0_i_monkey_att.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/thesis_expansion_data/monkey/d2_r_monkey_att.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/thesis_expansion_data/monkey/d5_i_monkey_att.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/thesis_expansion_data/monkey/d2_i_monkey_att.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/thesis_expansion_data/monkey/d4_r_monkey_att.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/thesis_expansion_data/monkey/d6_r_monkey_att.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/thesis_expansion_data/monkey/d1_r_monkey_att.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/thesis_expansion_data/monkey/d0_r_monkey_att.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/thesis_expansion_data/monkey/d6_i_monkey_att.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/thesis_expansion_data/monkey/d5_r_monkey_att.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/thesis_expansion_data/monkey/d3_i_monkey_att.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/thesis_expansion_data/d3_r_wexp_shlg129_weak.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/thesis_expansion_data/d4_r_wexp_shlg129_strong.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/thesis_expansion_data/d4_i_wexp_shlg129_weak.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/thesis_expansion_data/d3_i_wexp_shlg129_strong.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/thesis_expansion_data/d2_r_wexp_shlg129_strong.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/thesis_expansion_data/d1_r_wexp_shlg129_weak.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/thesis_expansion_data/d4_r_wexp_shlg129_weak.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/thesis_expansion_data/d1_r_wexp_shlg129_strong.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/thesis_expansion_data/d1_i_wexp_shlg129_weak.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/thesis_expansion_data/d0_i_wexp_shlg129_weak.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/thesis_expansion_data/d1_i_wexp_shlg129_strong.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/thesis_expansion_data/d2_i_wexp_shlg129_strong.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/thesis_expansion_data/d0_r_wexp_shlg129_weak.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/thesis_expansion_data/d2_i_wexp_shlg129_weak.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/thesis_expansion_data/d0_r_wexp_shlg129_strong.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/thesis_expansion_data/d3_r_wexp_shlg129_strong.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/shepp-logan/d4_r_spect_shlg129.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/shepp-logan/d5_r_spect_shlg129.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/shepp-logan/d3_r_spect_shlg129.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/shepp-logan/d6_r_spect_shlg129.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/shepp-logan/d1_i_spect_shlg129.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/shepp-logan/d3_i_spect_shlg129.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/shepp-logan/d5_i_spect_shlg129.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/shepp-logan/d0_r_spect_shlg129.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/shepp-logan/d2_r_spect_shlg129.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/shepp-logan/d1_r_spect_shlg129.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/shepp-logan/d6_i_spect_shlg129.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/shepp-logan/d4_i_spect_shlg129.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/shepp-logan/d0_i_spect_shlg129.csv
./ray_sampling/weighted/wray_grid/weight-expansions/binary/shepp-logan/d2_i_spect_shlg129.csv
./ray_sampling/weighted/wray_grid/weight-expansions/attenuation-maps/monkey_att.csv
./ray_sampling/weighted/wray_grid/weight-expansions/attenuation-maps/att_shlg129_weak.csv
./ray_sampling/weighted/wray_grid/weight-expansions/attenuation-maps/sh_lg129.csv
./reduction_ray_radon/binary/octave-workspace
./reduction_ray_radon/binary/ph2_att_strong_nweak_radon.csv
./reduction_ray_radon/binary/ph1_weak_radon_test.csv
./reduction_ray_radon/binary/ph1_att_strong.csv
./reduction_ray_radon/binary/rayspect_shlg129.csv
./reduction_ray_radon/binary/ph2_att_weak_nstrong_radon.csv
./reduction_ray_radon/binary/ph1_att_weak.csv
./reduction_ray_radon/binary/ph2_att_weak_nweak_radon.csv
./reduction_ray_radon/binary/ph1_weak_test.csv
./reduction_ray_radon/binary/ph1_att_weak_nweak_radon.csv
./reduction_ray_radon/binary/ph2_att_strong_radon.csv
./reduction_ray_radon/binary/ray_shlg129.csv
./reduction_ray_radon/binary/rayspect_129noise10.csv
./reduction_ray_radon/binary/ph1_att_strong_nstrong_radon.csv
./reduction_ray_radon/binary/ph2_att_weak_radon.csv
./reduction_ray_radon/binary/rayspect_129noise50.csv
./reduction_ray_radon/binary/ph2_att_strong_nstrong_radon.csv
./reduction_ray_radon/binary/radonspect129_noise50.csv
./reduction_ray_radon/binary/thesis_data/ph2_att_strong_nweak_radon.csv
./reduction_ray_radon/binary/thesis_data/ph1_att_strong.csv
./reduction_ray_radon/binary/thesis_data/ph2_att_weak_nstrong_radon.csv
./reduction_ray_radon/binary/thesis_data/ph1_att_weak.csv
./reduction_ray_radon/binary/thesis_data/ph2_att_weak_nweak_radon.csv
./reduction_ray_radon/binary/thesis_data/ph1_att_weak_nweak_radon.csv
./reduction_ray_radon/binary/thesis_data/monkey/monkey_octave
./reduction_ray_radon/binary/thesis_data/monkey/emis/monkey_emiss.csv
./reduction_ray_radon/binary/thesis_data/monkey/emis/reconstructions/Chang3D/octave-workspace
./reduction_ray_radon/binary/thesis_data/monkey/emis/monkey_emiss_radon.csv
./reduction_ray_radon/binary/thesis_data/monkey/map/octave-workspace
./reduction_ray_radon/binary/thesis_data/monkey/map/monkey_att.csv
./reduction_ray_radon/binary/thesis_data/ph2_att_strong_radon.csv
./reduction_ray_radon/binary/thesis_data/ph1_att_strong_nstrong_radon.csv
./reduction_ray_radon/binary/thesis_data/ph2_att_weak_radon.csv
./reduction_ray_radon/binary/thesis_data/noise/octave-workspace
./reduction_ray_radon/binary/thesis_data/noise/ph2_att_weak_nstrong.csv
./reduction_ray_radon/binary/thesis_data/noise/ph2_att_strong_nstrong.csv
./reduction_ray_radon/binary/thesis_data/noise/ph2_att_strong_nweak.csv
./reduction_ray_radon/binary/thesis_data/noise/ph2_att_weak_nweak.csv
./reduction_ray_radon/binary/thesis_data/ph2_att_strong_nstrong_radon.csv
./reduction_ray_radon/binary/thesis_data/ph2_att_weak.csv
./reduction_ray_radon/binary/thesis_data/ph1_att_weak_nstrong_radon.csv
./reduction_ray_radon/binary/thesis_data/ph1_att_weak_radon.csv
./reduction_ray_radon/binary/thesis_data/ph1_att_strong_nweak_radon.csv
./reduction_ray_radon/binary/thesis_data/ph2_att_strong.csv
./reduction_ray_radon/binary/radon_shlg129.csv
./reduction_ray_radon/binary/ph2_att_weak.csv
./reduction_ray_radon/binary/ph1_att_weak_nstrong_radon.csv
./reduction_ray_radon/binary/ph1_att_strong.radon.csv
./reduction_ray_radon/binary/ph1_att_weak_radon.csv
./reduction_ray_radon/binary/rayspect_shlg129_noise.csv
./reduction_ray_radon/binary/ph1_att_strong_nweak_radon.csv
./reduction_ray_radon/binary/radonspect129_noise.csv
./reduction_ray_radon/binary/ph1_att_strong_radon.csv
./reduction_ray_radon/binary/ph2_att_strong.csv
./reduction_ray_radon/binary/reconstruction-workspace
./reduction_ray_radon/binary/radonspect129_noise10.csv
./thesis_workspace
./ver-python/radon-adjoint/test-source/test-adjradon3d.csv
./radon_inversion/classical/backprojection/test-functions/test_func_shepp_logan.csv
./radon_inversion/classical/backprojection/binary/monkey_radon_emiss.csv
./radon_inversion/weighted/iterative/weight_correction
./radon_sampling/classical/radon_grid/examples-test-functions/test_func_shepp_logan.csv
./radon_sampling/classical/radon_grid/binary/octave-workspace
./radon_sampling/classical/radon_grid/binary/shepp_logan16_rad_dfull.csv
./radon_sampling/classical/radon_grid/binary/shepp_logan129_radon.csv
./radon_sampling/classical/radon_grid/binary/shepp_logan16_rad3.csv
./radon_sampling/classical/radon_grid/binary/shepp_logan16_full_rad.csv
./radon_sampling/classical/radon_grid/binary/shepp_logan16_rad2.csv
./radon_sampling/classical/radon_grid/binary/radon_shepp_logan129.csv
./radon_sampling/classical/radon_grid/binary/shepp_logan129_tfunc_data.csv
./radon_sampling/classical/radon_grid/generated-data/shepp_logan/shepp_logan_small/shepp_logan_small.zip
./radon_sampling/classical/radon_grid/generated-data/shepp_logan/shepp_logan_small/output.gif
./radon_sampling/classical/radon_grid/generated-data/shepp_logan/shepp_logan_radon3d_small.csv
./radon_sampling/classical/radon_grid/generated-data/shepp_logan/shepp_logan_big_radon3d.dat
./radon_sampling/classical/radon_grid/generated-data/shepp_logan/shepp_logan_big/output_big.gif
./radon_sampling/classical/radon_grid/generated-data/shepp_logan/shepp_logan_129/output_shepp_logan2.gif
./radon_sampling/classical/radon_grid/generated-data/shepp_logan/shepp_logan_129/output_shepp_logan129.zip
./radon_sampling/classical/radon_grid/other-tests/centered_ball.dat
./radon_sampling/classical/radon_analytic/generated_data/sine_bump_test.csv
./radon_sampling/classical/radon_analytic/generated_data/exp_bump_data.csv
./radon_sampling/classical/radon_analytic/generated_data/png.zip

./real_data/
./ver-python/utilities/per_dec2d.py
./ver-python/utilities/per_dec3d.py
./ver-python/utilities/test_per_dec.py

./reduction-algorithm/binary/thesis_data/
./real-data/
*workspace*
*binary*
drafts-matlab/kunyansky-tests/
drafts-matlab/
radon-inversion/weighted/kunyansky-iterative/weight-correction

*.zip
*.pdf
*.csv
*.zip
*.log
*.bin
*.d
*.png
*.jpeg
*.jpg
*.m
*.pyc
*.gif
*~
*.o
*.spr
*.sdt
*monkey*
*.tar
*.zip
*.tex
*.log
*.txt
*.dat
