
./real_data/

./reduction-algorithm/binary/thesis_data/
./real-data/
*workspace*
*binary*
drafts-matlab/kunyansky-tests/
drafts-matlab/
radon-inversion/weighted/kunyansky-iterative/weight-correction
ver-python/utilities/exterior/

radon-sampling/classical/radon_analytic
radon-sampling/weighted/wradon_analytic
ray-sampling/classical/ray_analytic
ray-sampling/weighted/wray_analytic

ver-python/asymptotic_fraction_missinfo.py
ver-python/fisher_matrix.py
ver-python/test_gibbs_sampler_emission2.py
umot


*.zip
*.pdf
*.csv
*.zip
*.log
*.bin
*.d
*.png
*.jpeg
*.jpg
*.pyc
*.gif
*~
*.o
*.spr
*.sdt
*monkey*
*.tar
*.zip
*.tex
*.log
*.txt
*.dat
